black==26.1.0
cfgv==3.5.0
click==8.3.1
distlib==0.4.0
filelock==3.21.0
identify==2.6.16
iniconfig==2.3.0
librt==0.8.0
mypy==1.19.1
mypy_extensions==1.1.0
nodeenv==1.10.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.6.0
pluggy==1.6.0
pre_commit==4.5.1
Pygments==2.19.2
pytest==9.0.2
pytokens==0.4.1
PyYAML==6.0.3
ruff==0.15.0
typing_extensions==4.15.0
virtualenv==20.36.1
